@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
/* font-family: 'Archivo Black', sans-serif; */


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

a, p, i, span, li {
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5 {
    font-family: 'Archivo Black', sans-serif;
}